*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

h2{
    font-size: 20px;
    font-weight: 400;
    color:red;
}


.box{
    height: 200px;
    width: 200px;
    color:white;
    /* margin:20px;
    /* margin-left: 10px;
    margin-right: 40px; */
    margin:30px 50px 40px 10px ;
  padding: 20px 10px; 
  border:2px solid black;
  /* border-radius: 50%; */
  
    /* background-color: black !important; */


}
#box1{
    background-color: yellow;
  
}

#box2{
    background-color: red;
}




